body {
    font-family: Arial, Verdana, sans-serif;
    background-color: white;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           
}
.mylogo{
    background-color: rgb(232, 220, 239);
    float: left;
    
}
.navbar{
    display: flex;
    background-color: rgb(232, 220, 239);
}
ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
}
li{
    margin-right: 20px;
    text-align: center;
    
}
.list{
    color: black;
    text-decoration: none;
    font-weight: bold;  
}
